dicilo-referral-sender.n8n.json
{
    "name": "Dicilo Referral Sender",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dicilo-referrals",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.friends",
                "options": {}
            },
            "id": "split_friends",
            "name": "Split Out Friends",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// MAPPING LOGIC\n// Per-Friend Configuration: name, email, language, template are now part of the split item.\n\nconst friendName = $input.item.json.name;\nconst friendEmail = $input.item.json.email;\nconst lang = $input.item.json.language || 'es';\nconst templateType = $input.item.json.template || 'general';\n\n// Global Referrer Info (from original body)\nconst referrerName = $input.item.json.body.referrer_name;\nconst referrerId = $input.item.json.body.referrer_id;\n\n// Personalized Greeting\nconst greeting = friendName ? `Hola ${friendName}! 👋` : 'Hola! 👋';\nconst greetingEn = friendName ? `Hello ${friendName}! 👋` : 'Hello! 👋';\nconst greetingDe = friendName ? `Hallo ${friendName}! 👋` : 'Hallo! 👋';\n\n// Content Map with specific copywriting\nconst contentMap = {\n  'es': {\n    'general': {\n      subject: `Te invito a ahorrar y ganar dinero en Dicilo.net`,\n      intro: `<p>Tu amigo <strong>${referrerName}</strong> te ha invitado a unirte a Dicilo.</p>`,\n      footer: 'Dicilo es la red confiable y que esta creciendo bastante rapido a nivel internacional.',\n      cta: 'Unirme y Ahorrar',\n      greeting: greeting,\n      closing: `<p>Si no es de tu interés o tienes alguna duda, por favor házmelo saber. Gracias y espero nos hablemos pronto.</p><p>Saludos<br>${referrerName}</p>`\n    },\n    'business': {\n      subject: `Genera ingresos extra recomendando empresas`,\n      intro: `<p>¿Buscas trabajar desde casa, o te interesaría generar extras desde tu PC o móvil?</p><p>En Dicilo puedes hacerlo realidad gracias a la facilidad del trabajo online; te explico.</p><p>Recomienda empresas y gana Dicipoints que luego puedes cambiar por descuentos en nuestras empresas aliadas, o recomienda las empresas donde sueles comprar y gana comisiones por la compra de publicidad que ellos hagan gracias a tu recomendación.</p><p>Dicilo es la plataforma de marketing digital de MHC Alemania. Regístrate aquí gratis para que empecemos juntos.</p>`,\n      footer: 'Dicilo es una red confiable creada en Hamburgo, Alemania, por un grupo de empresarios jóvenes para apoyar a los pequeños y medianos comerciantes y que está creciendo bastante rápido a nivel nacional e internacional.',\n      cta: 'Empezar a Ganar',\n       greeting: greeting,\n      closing: `<p>Si no es de tu interés o tienes alguna duda, por favor házmelo saber. Gracias y espero nos hablemos pronto.</p><p>Saludos<br>${referrerName}</p>`\n    },\n    'crypto': {\n      subject: `50 DiciPoints te están esperando 🪙`,\n      intro: `<p>Únete a la economía de Dicilo. Gana DiciPoints y DiciCoins canjeables por productos y viajes. Es un ecosistema descentralizado donde tu participación tiene valor real. Usa mi invitación exclusiva aquí.</p>`,\n      footer: 'Dicilo es la red confiable y que esta creciendo bastante rapido a nivel internacional.',\n      cta: 'Reclamar DiciPoints',\n       greeting: greeting,\n      closing: `<p>Si no es de tu interés o tienes alguna duda, por favor házmelo saber. Gracias y espero nos hablemos pronto.</p><p>Saludos<br>${referrerName}</p>`\n    }\n  },\n  'en': {\n    'general': {\n      subject: `I invite you to save and earn money on Dicilo.net`,\n      intro: `<p>Your friend <strong>${referrerName}</strong> invited you to join Dicilo.</p>`,\n      footer: 'Dicilo is the trusted network and is growing quite fast internationally.',\n      cta: 'Join and Save',\n      greeting: greetingEn,\n      closing: `<p>If this is not of interest to you or if you have any questions, please let me know. Thanks and I hope we speak soon.</p><p>Regards<br>${referrerName}</p>`\n    },\n    'business': {\n      subject: `Generate extra income by referring businesses`,\n      intro: `<p>Are you looking to work from home, or would you be interested in generating extra income from your PC or mobile?</p><p>At Dicilo you can make it happen thanks to the ease of online work; let me explain.</p><p>Refer businesses and earn Dicipoints that you can later exchange for discounts at our allied companies, or recommend the companies where you usually shop and earn commissions for the advertising they purchase thanks to your recommendation.</p><p>Dicilo is the digital marketing platform of MHC Germany. Register here for free so we can start together.</p>`,\n      footer: 'Dicilo is a trusted network created in Hamburg, Germany, by a group of young entrepreneurs to support small and medium-sized merchants, and it is growing quite fast nationally and internationally.',\n      cta: 'Start Earning',\n      greeting: greetingEn,\n      closing: `<p>If this is not of interest to you or if you have any questions, please let me know. Thanks and I hope we speak soon.</p><p>Regards<br>${referrerName}</p>`\n    },\n    'crypto': {\n      subject: `50 DiciPoints are waiting for you 🪙`,\n      intro: `<p>Join the Dicilo economy. Earn DiciPoints. Earn DiciPoints and DiciCoins redeemable for products and travel. It's a decentralized ecosystem where your participation has real value. Use my exclusive invitation here.</p>`,\n      footer: 'Dicilo is the trusted network and is growing quite fast internationally.',\n      cta: 'Claim DiciPoints',\n      greeting: greetingEn,\n      closing: `<p>If this is not of interest to you or if you have any questions, please let me know. Thanks and I hope we speak soon.</p><p>Regards<br>${referrerName}</p>`\n    }\n  },\n  'de': {\n    'general': {\n      subject: `Ich lade dich ein, auf Dicilo.net zu sparen und zu verdienen`,\n      intro: `<p>Dein Freund <strong>${referrerName}</strong> hat dich eingeladen, Dicilo beizutreten.</p>`,\n      footer: 'Dicilo ist das vertrauenswürdige Netzwerk und wächst international ziemlich schnell.',\n      cta: 'Beitreten und Sparen',\n      greeting: greetingDe,\n      closing: `<p>Wenn dich das nicht interessiert oder du Fragen hast, lass es mich bitte wissen. Danke und ich hoffe, wir sprechen uns bald.</p><p>Grüße<br>${referrerName}</p>`\n    },\n    'business': {\n      subject: `Generiere Zusatzeinkommen durch Unternehmensnachweis`,\n      intro: `<p>Suchst du Arbeit von zu Hause aus, oder wärst du daran interessiert, Extras von deinem PC oder Handy aus zu generieren?</p><p>Bei Dicilo kannst du das dank der einfachen Online-Arbeit verwirklichen; ich erkläre es dir.</p><p>Empfiehl Unternehmen und verdiene Dicipoints, die du später gegen Rabatte bei unseren Partnerunternehmen eintauschen kannst, oder empfiehl die Unternehmen, bei denen du normalerweise einkaufst, und verdiene Provisionen für die Werbung, die sie dank deiner Empfehlung kaufen.</p><p>Dicilo ist die digitale Marketingplattform von MHC Deutschland. Registriere dich hier kostenlos, damit wir gemeinsam starten können.</p>`,\n      footer: 'Dicilo ist ein vertrauenswürdiges Netzwerk, das in Hamburg, Deutschland, von einer Gruppe junger Unternehmer gegründet wurde, um kleine und mittlere Händler zu unterstützen, und das national und international ziemlich schnell wächst.',\n      cta: 'Jetzt Verdienen',\n      greeting: greetingDe,\n      closing: `<p>Wenn dich das nicht interessiert oder du Fragen hast, lass es mich bitte wissen. Danke und ich hoffe, wir sprechen uns bald.</p><p>Grüße<br>${referrerName}</p>`\n    },\n    'crypto': {\n      subject: `50 DiciPoints warten auf dich 🪙`,\n      intro: `<p>Schließ dich der Dicilo-Wirtschaft an. Verdiene DiciPoints und DiciCoins, die gegen Produkte und Reisen eingelöst werden können. Es ist ein dezentrales Ökosystem, in dem deine Teilnahme echten Wert hat. Nutze hier meine exklusive Einladung.</p>`,\n      footer: 'Dicilo ist das vertrauenswürdige Netzwerk und wächst international ziemlich schnell.',\n      cta: 'DiciPoints Beanspruchen',\n      greeting: greetingDe,\n      closing: `<p>Wenn dich das nicht interessiert oder du Fragen hast, lass es mich bitte wissen. Danke und ich hoffe, wir sprechen uns bald.</p><p>Grüße<br>${referrerName}</p>`\n    }\n  }\n};\n\nconst content = contentMap[lang][templateType] || contentMap['es']['general'];\n\n// HTML Template Construction\nconst htmlBody = `\n<!DOCTYPE html><html><body>\n<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\n  <div style='text-align: center; padding: 20px;'>\n    <img src='https://dicilo.net/logo-full.png' alt='Dicilo Logo' width='150'>\n  </div>\n  <div style='background-color: #f9f9f9; padding: 20px; border-radius: 8px;'>\n    <h2>${content.greeting}</h2>\n    <div style='line-height: 1.6;'>\n      ${content.intro}\n    </div>\n    <p><strong>${content.footer}</strong></p>\n    <div style='text-align: center; margin: 30px 0;'>\n      <a href='https://dicilo.net/registrieren?ref=${referrerId}' style='background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;'>${content.cta}</a>\n    </div>\n    <div style='font-size: 14px; color: #555;'>\n      ${content.closing}\n    </div>\n    \n    <!-- TRACKING PIXEL -->\n    <img src='YOUR_N8N_TRACKING_WEBHOOK_URL?ref=${referrerId}&email=${friendEmail}' width='1' height='1' />\n  </div>\n</div></body></html>\n`;\n\nreturn {\n  email_subject: content.subject,\n  email_body: htmlBody,\n  to_email: friendEmail,\n  referrer_id: referrerId\n};"
            },
            "id": "prepare_content",
            "name": "Prepare Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "={{ $json.email_subject }}",
                "htmlMessage": "={{ $json.email_body }}",
                "toEmail": "={{ $json.to_email }}",
                "additionalFields": {
                    "senderName": "Dicilo Team"
                }
            },
            "id": "gmail_sender",
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1150,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "Gmail Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "documentId": {
                    "__rl": true,
                    "value": "DICILO_REFERRAL_LOGS",
                    "mode": "name"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "log_sent",
            "name": "Log Sent (Google Sheets)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1400,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GSHEETS_CRED_ID",
                    "name": "Google Sheets Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Out Friends",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Friends": {
            "main": [
                [
                    {
                        "node": "Prepare Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Content": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "Log Sent (Google Sheets)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}