dicilo-simple-referral.n8n.json
{
    "name": "Dicilo Simple Referral Sender",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dicilo-referrals",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.friends",
                "options": {}
            },
            "id": "split_friends",
            "name": "Split Friends List",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "={{ $json.generated_subject }}",
                "htmlMessage": "={{ $json.generated_body.replace(/\\n/g, '<br>') }}",
                "toEmail": "={{ $json.email }}",
                "additionalFields": {
                    "senderName": "Dicilo Team"
                }
            },
            "id": "gmail_sender",
            "name": "Gmail Sender",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "Gmail Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Friends List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Friends List": {
            "main": [
                [
                    {
                        "node": "Gmail Sender",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}