n8n_workflow_UGC.json
{
    "name": "Dicilo Recommendations Workflow",
    "nodes": [
        {
            "parameters": {
                "pollInterval": 60,
                "collection": "recommendations",
                "simple": false,
                "options": {
                    "conditions": {
                        "status": "pending"
                    }
                }
            },
            "type": "n8n-nodes-base.firebaseTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "e227914e-4f3b-47eb-9486-e414c2b724e0",
            "name": "Firebase Trigger (Pending)",
            "credentials": {
                "firebaseCredentialApi": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "Firebase Account"
                }
            }
        },
        {
            "parameters": {
                "mode": "json-schema-validation",
                "options": {}
            },
            "type": "n8n-nodes-base.googleGeminiChat",
            "typeVersion": 1,
            "position": [
                470,
                300
            ],
            "id": "f5f0b00a-5b1a-4c12-9876-0f1c9d81d2c1",
            "name": "Gemini Vision Analysis",
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_ID_HERE",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.isRelevant }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                690,
                300
            ],
            "id": "a9d0f85b-6c7e-402a-9123-5e6f7a8b9c0d",
            "name": "Is Relevant?"
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "recommendations",
                "documentId": "={{ $node[\"Firebase Trigger (Pending)\"].json[\"id\"] }}",
                "fields": {
                    "status": "approved",
                    "aiAnalysis": "={{ $json }}"
                }
            },
            "type": "n8n-nodes-base.firebase",
            "typeVersion": 1,
            "position": [
                900,
                200
            ],
            "id": "c1a2b3c4-d5e6-4f78-9012-34567890abcd",
            "name": "Approve in Firestore"
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "recommendations",
                "documentId": "={{ $node[\"Firebase Trigger (Pending)\"].json[\"id\"] }}",
                "fields": {
                    "status": "rejected",
                    "aiAnalysis": "={{ $json }}"
                }
            },
            "type": "n8n-nodes-base.firebase",
            "typeVersion": 1,
            "position": [
                900,
                450
            ],
            "id": "d1a2b3c4-d5e6-4f78-9012-34567890abce",
            "name": "Reject in Firestore"
        }
    ],
    "pinData": {},
    "connections": {
        "Firebase Trigger (Pending)": {
            "main": [
                [
                    {
                        "node": "Gemini Vision Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Vision Analysis": {
            "main": [
                [
                    {
                        "node": "Is Relevant?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Relevant?": {
            "main": [
                [
                    {
                        "node": "Approve in Firestore",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reject in Firestore",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}